kod
[
    {
        "id": "tab_weather",
        "type": "tab",
        "label": "Weather API",
        "disabled": false,
        "info": ""
    },
    {
        "id": "inject_weather",
        "type": "inject",
        "z": "tab_weather",
        "name": "Trigger every 30s",
        "props": [],
        "repeat": "30",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "x": 140,
        "y": 100,
        "wires": [
            [
                "http_weather"
            ]
        ]
    },
    {
        "id": "http_weather",
        "type": "http request",
        "z": "tab_weather",
        "name": "Get Weather Data",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://89.221.223.46:8080/weather_api",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 350,
        "y": 100,
        "wires": [
            [
                "function_split",
                "536d3e72c1f8eaac",
                "c46643bffab0d928",
                "731bf659985bfe82",
                "9cf5eed9406de176"
            ]
        ]
    },
    {
        "id": "function_split",
        "type": "function",
        "z": "tab_weather",
        "name": "Split T and P",
        "func": "// Příklad struktury msg.payload:\n// msg.payload = { T: 22, P: 1012, F: 5, D: \"N\" }\n\nvar newMsgT = { payload: msg.payload.T }; // teplota\nvar newMsgP = { payload: msg.payload.P }; // tlak\nvar newMsgF = { payload: msg.payload.F }; // síla větru\nvar newMsgD = { payload: msg.payload.D }; // směr větru\n\nreturn [newMsgT, newMsgP, newMsgF, newMsgD];",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 120,
        "wires": [
            [
                "gauge_temp"
            ],
            [
                "gauge_press"
            ]
        ]
    },
    {
        "id": "gauge_temp",
        "type": "ui_gauge",
        "z": "tab_weather",
        "name": "Temperature",
        "group": "ui_group_weather",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Teplota (°C)",
        "label": "°C",
        "format": "{{value}}",
        "min": "-20",
        "max": "40",
        "colors": [
            "#00bfff",
            "#00ff00",
            "#ff0000"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 870,
        "y": 40,
        "wires": []
    },
    {
        "id": "gauge_press",
        "type": "ui_gauge",
        "z": "tab_weather",
        "name": "Pressure",
        "group": "ui_group_weather",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Tlak (hPa)",
        "label": "hPa",
        "format": "{{value}}",
        "min": "900",
        "max": "1050",
        "colors": [
            "#00ff00",
            "#ffff00",
            "#ff0000"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 860,
        "y": 160,
        "wires": []
    },
    {
        "id": "536d3e72c1f8eaac",
        "type": "debug",
        "z": "tab_weather",
        "name": "debug msg object",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 360,
        "wires": []
    },
    {
        "id": "731bf659985bfe82",
        "type": "debug",
        "z": "tab_weather",
        "name": "debug D",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.D",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 600,
        "wires": []
    },
    {
        "id": "c46643bffab0d928",
        "type": "debug",
        "z": "tab_weather",
        "name": "debug F",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.F",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 560,
        "wires": []
    },
    {
        "id": "9cf5eed9406de176",
        "type": "ui_gauge",
        "z": "tab_weather",
        "name": "",
        "group": "ui_group_weather",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Síla větru",
        "label": "m/s",
        "format": "{{payload.F}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 840,
        "y": 280,
        "wires": []
    },
    {
        "id": "ui_group_weather",
        "type": "ui_group",
        "name": "Weather Station",
        "tab": "ui_tab_weather",
        "order": 1,
        "disp": true,
        "width": "6"
    },
    {
        "id": "ui_tab_weather",
        "type": "ui_tab",
        "name": "Weather Dashboard",
        "icon": "dashboard",
        "order": 1
    },
    {
        "id": "02300dd4651cf40d",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6"
        }
    }
]
